# Python
__pycache__/
*.py[cod]
venv/
.env

# Logs
*.log

# Ignore local scheduler jobs file (contains user-specific paths)
projects/project-4-job-scheduler/jobs.json

# OS
Thumbs.db
.DS_Store

# VSCode
.vscode/

# Node
node_modules/

# Misc
*.pyc
